@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    position: relative;
    font-family: "Rubik", "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
    letter-spacing: .3px;
    max-width: 100%;
}

body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: 350;
    color: #eeeeee;
    background-color: #0b0c25;
}

.background {
    max-width: unset;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("bg.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top, center;
    z-index: -1;
}

*:where(h1, h2, h3, h4, h5, h6) {
    padding: 0;
    margin: 0.25rem 0;
}

*[id] {
    scroll-margin-top: 3rem;
}

p {
    line-height: 1.5;
    opacity: 0.8;
    padding: 0;
    font-size: 1.15rem;
}

h1 {
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

h4.subtle {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: normal;
}

div.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

header .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header .socials {
    display: flex;
    gap: 0.5rem;
}

header .socials a.icon {
    text-decoration: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .socials a.icon svg {
    width: 1.6rem;
    opacity: 0.75;
    transition: opacity 150ms ease;
}

header .socials a.icon:hover svg {
    opacity: 1;
}

img.avatar-img-small {
    height: 3.5rem;
    border-radius: 3.5rem;
}

div.role-wrapper {
    position: relative;
    overflow: hidden;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 2rem;
    margin-left: 1.6rem;
}

h3.thin {
    font-weight: 250;
    opacity: 0.75;
    font-size: 2rem;
    position: relative;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    gap: 1rem;
}

nav ul li {
    display: flex;
    gap: 0.75rem;
}

nav ul li a {
    font-size: 1.5rem;
    color: #eeeeee;
    text-decoration: none;
    border-bottom: none !important;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    width: 100vw;
    max-width: unset !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

main .wrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

main .wrapper .row {
    width: 100%;
    display: flex;
    gap: 2.5rem;
}

main .wrapper .row .col {
    width: 100%;
}

.col p:last-of-type {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

main .wrapper .row.shadow,
main .wrapper .col.shadow {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2.25rem 2.25rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 2.25rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.scroll-arrow-wrapper {
    width: 100vw;
    max-width: unset !important;
    display: flex;
    position: fixed;
    bottom: 1rem;
    justify-content: center;
}

.scroll-arrow {
    aspect-ratio: 1/1;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151632;
    background: linear-gradient(180deg, rgba(21, 22, 50, 1) 0%, rgb(3, 7, 65) 100%);
}

.scroll-arrow svg {
    fill: #fff;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem;
}

.projects-grid .project-card {
    color: #eeeeee;
    text-decoration: none;
    overflow: hidden;
}

.projects-grid .project-card .project-image {
    width: calc(100% + 4.5rem);
    max-width: unset;
    margin-left: -2.25rem;
    margin-top: -2.25rem;
    margin-bottom: 1rem;
}

.projects-grid .project-card h3 {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 3rem;
}

.button {
    background-color: #0b0c25;
    color: #fff;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: inline-flex;
}

.button.view-project {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    font-size: 1.5rem;
    padding: 0;
    text-decoration: none !important;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: background-color 100ms ease;
}

.button.view-project svg {
    width: 1.75rem;
}

.button.view-project:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.button.menu-toggler {
    aspect-ratio: 1/1;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.button:hover {
    text-decoration: underline;
}

a:not(.button) {
    color: #eeeeee;
    text-decoration: none;
    border-bottom: 2px solid #4235b6;
}

a:hover {
    border-bottom-color: #7465f3;
}

.badge {
    background-color: #4235b6;
    padding: 0.25rem 0.35rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.5s ease-out, transform 0.5s ease-out;
    transition-property: opacity, transform;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.avatar-bg {
    overflow: hidden;
    position: relative;
}

.avatar-bg .avatar-img {
    max-width: unset;
    width: calc(100% + 16rem);
    margin-left: -8rem;
    position: absolute;
    bottom: -0.75rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: -1;
    animation: avatar-anim 6s infinite ease-in-out;
}

img.stack-bg {
    width: 20rem;
    aspect-ratio: 1/1;
    position: absolute;
    opacity: 0.15;
    rotate: 5deg;
    bottom: -2rem;
    right: -2rem;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@keyframes avatar-anim {
    0% {
        transform: translateY(0.75rem);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0.75rem);
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 90%;
    }

    body {
        background-position: top !important;
    }

    main .wrapper {
        width: 90vw;
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    main .wrapper .row {
        flex-direction: column;
    }

    nav ul.aside-items {
        padding: 0;
    }

    .avatar-bg {
        min-height: 25rem !important;
    }

    header {
        flex-direction: column;
        align-items: start;
        margin-bottom: 2rem;
    }
}